*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100%;
    background: #a8aec5;
}

.navigation{
    position: fixed; /*elemento pai, com position diferente de static*/
    inset: 20px 0 20px 20px; /*inserir*/
    width: 75px;
    background: white;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.navigation.open{
    width: 180px;
}

.navigation .menuToggle{
    position: absolute; /*será posicionado em relação ao elemento pai 'navigation'.*/
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0,0, 0, 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start; /*justificar o conteúdo: início flexível */
    padding: 0 23px;
}

.navigation .menuToggle::before { /*riscos que representarão o menu. */
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

.navigation.open .menuToggle::before{
    transform: translateY(0px) rotate(45deg); /*inclinar um risco em 45 graus*/

}

.navigation .menuToggle::after { /*riscos do menu ao ser expandido*/
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
}


.navigation.open .menuToggle::after{ /*deixará um X no lugar dos 3 riscos do menu. */
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #333;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.navigation ul li{
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
}

.navigation ul li.active{
    transform: translateX(30px);
}

.navigation.navigation.open ul li.active{
    transform: translateX(10px);
}

.navigation ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    transition: 0.5s;
    border-radius: 10px;
    font-size: 1.75em;
    color: #222;
}

.navigation ul li.active a .icon{
    color: #fff;
    background: var(--clr);
}

.navigation ul li a .icon::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    filter: blur(8px); /*filtro - deixará a cor esfumaçada. */
    opacity: 0;
    transition: 0.5s;
}

.navigation ul li.active a .icon::before{
    opacity: 1;
}

.navigation ul li a .text{
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.navigation.open ul li a .text{
    opacity: 1;
    visibility: visible;
}

.navigation ul li.active a .text {
    color: var(--clr);
}

.conteudo{
    border: 1px solid black;
    margin: 25px;
    border-radius: 3px;
    padding: 10px 50px;
    text-align: center;
    margin-left: 30%;
    margin-right: 12%;
    background-color: white;
    color: #333;
}

h1{
    font-variant:normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}